.popup__block {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	max-height: 90vh;
	max-width: 80vw;
}